<nav>
    <ul>
        <li>
            <a class="button" routerLink="/" routerLinkActive="activebutton">
                <i class="material-icons">dashboard</i>
            </a>
        </li>
        <li>
            <a class="button" routerLink="datas" routerLinkActive="activebutton">
                <i class="material-icons">public</i>
            </a>
        </li>
        <li>
            <a class="button" routerLink="animation" routerLinkActive="activebutton">
                <i class="material-icons">group_work</i>
            </a>
        </li>
        <li>
            <a class="button" routerLink="heroes" routerLinkActive="activebutton">
                <i class="material-icons">whatshot</i>
            </a>
        </li>
    </ul>
</nav>