<div id="main">
    <div id="advert">
        <ul id="adv_ul">
            <li>
                <h3>{{cars[0].brand}}</h3>
            </li>
            <li>
                {{cars[0].model}}
            </li>
            <li>
                {{cars[0].year}}
            </li>
            <li>
                {{cars[0].price | currency}}
            </li>
            <li>
                {{cars[0].explanation}}
            </li>
        </ul>
        <div><img src={{cars[0].img}}></div>
    </div>
    <div id="products">
        <div id="house">
            <ul *ngIf="houses">
                <li id="item" *ngFor="let house of houses">
                    <div id="img"><img src={{house.img}}></div>
                    <ul>
                        <li>
                            <h3>{{house.type}}</h3>
                        </li>
                        <li>
                            {{house.location}}
                        </li>
                        <li>
                            {{house.year}}
                        </li>
                        <li>
                            {{house.price | currency}}
                        </li>
                        <li>
                            {{house.explanation}}
                        </li>
                        <li>
                            <button routerLink="/house/{{house.id}}">View</button>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="car">
            <ul *ngIf="cars">
                <li id="item" *ngFor="let car of cars">
                    <div id="img"><img src={{car.img}}></div>
                    <ul>
                        <li>
                            <h3>{{car.brand}}</h3>
                        </li>
                        <li>
                            {{car.model}}
                        </li>
                        <li>
                            {{car.year}}
                        </li>
                        <li>
                            {{car.price | currency}}
                        </li>
                        <li>
                            {{car.explanation}}
                        </li>
                        <li>
                            <button routerLink="/car/{{car.id}}">View</button>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>