<div id="main">
    <div id="advert">
        <img src={{cars[0].img}}>
        <ul id="adv_ul">
            <li>
                <h3>{{cars[0].brand}}</h3>
            </li>
            <li>
                {{cars[0].model}}
            </li>
            <li>
                {{cars[0].year}}
            </li>
            <li>
                {{cars[0].price | currency}}
            </li>
            <li>
                {{cars[0].explanation}}
            </li>
        </ul>
    </div>
    <div id="products">
        <div id="house">
            <ul *ngIf="houses">
                <li *ngFor="let house of houses">
                    <img src={{house.img}}>
                    <ul>
                        <li>
                            <h3>{{house.type}}</h3>
                        </li>
                        <li>
                            {{house.location}}
                        </li>
                        <li>
                            {{house.year}}
                        </li>
                        <li>
                            {{house.price | currency}}
                        </li>
                        <li>
                            {{house.explanation}}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="car">
            <ul *ngIf="cars">
                <li *ngFor="let car of cars">
                    <img src={{car.img}}>
                    <ul>
                        <li>
                            <h3>{{car.brand}}</h3>
                        </li>
                        <li>
                            {{car.model}}
                        </li>
                        <li>
                            {{car.year}}
                        </li>
                        <li>
                            {{car.price | currency}}
                        </li>
                        <li>
                            {{car.explanation}}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>